<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752778089461-68dqp6ibv2rts1j8c2thhqlqvis1k1p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752778089461-68dqp6ibv2rts1j8c2thhqlqvis1k1p5</string>
	<key>API_KEY</key>
	<string>AIzaSyAzHwRp-pbw1sFkDBs1yngOLhscvPvSu_g</string>
	<key>GCM_SENDER_ID</key>
	<string>752778089461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cityChennelWeb</string>
	<key>PROJECT_ID</key>
	<string>city-channel-2b171</string>
	<key>STORAGE_BUCKET</key>
	<string>city-channel-2b171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752778089461:ios:8f476c2db7c321379c46bc</string>
	<key>DATABASE_URL</key>
	<string>https://city-channel-2b171-default-rtdb.firebaseio.com</string>
</dict>
</plist>